{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}
        Chai
      {% endblock %}
    </title>
    {% tailwind_css %}
  </head>
  <body class="bg-[#18181b] text-white">
    <nav class="h-20 bg-neutral-900 shadow-2xs border-b-2 border-black/20">This is our navbar</nav>
    <div class="max-w-6xl px-6 py-3 mx-auto w-full">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
